* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
}

span{
  font-size: 12px;
}

.container{
  margin: 20px;
  width: 1212px;
}

p{
  color: gray;
}

.background{
  color: black;
}
